{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type='text/css' href="{% static 'css/core.css' %}" />
        <title>A Web Developers Journey</title>
    </head>
    <body>
        <!-- Navigation -->
        <header>
            <div>
                <h1>A Web Developers Journey</h1>
                <h3>A blog about my journey as a web developer</h3>
                <nav>
                    <a href="{% url 'posts' %}">Posts</a>
                </nav>
            </div>
        </header>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer>
            <p>Copyright &copy; 2021 by <a href='https://melissa-longenberger.com'>Melissa Longenberger</a></p>
        </footer>
    </body>
</html>
