<!DOCTYPE html>
<html lang="en">
<body>
    {% extends "base.html" %} 
    {% block content %}

    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="left">
                {% for post in post_list %}
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        </div>
    </div>
    {%endblock%}
</body>
</html>