<!DOCTYPE html>
<html lang="en">
<body>
    {% block sidebar %}

<!-- Sidebar Widgets Column -->
    <div>
        <div>
            <h5>About Us</h5>
            <div>
                <p> This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial to learn how we made it..!</p>
                <a href="https://djangocentral.com/building-a-blog-application-with-django"
                class="btn btn-danger">Know more!</a>
            </div>
        </div>
    </div>

    {% endblock sidebar %}
</body>
</html>